" Save to ~/.vimrc

" [Show detail infomation]
set number
set title
set showmatch
set ruler

" [Set color]
syntax on
set t_Co=256
" colorscheme slate

" [Set indent]
set autoindent
" set smartindent
set tabstop=4
set shiftwidth=4
set softtabstop=4
set smarttab
set expandtab

" [Set sync task]
set autoread
set autowrite

" [Set paste]
" set paste
set mouse-=a

" [Set korean input]
set encoding=utf-8
set termencoding=utf-8

" [Highlight cursor line]
set cursorline

" [Set search]
set hlsearch
set ignorecase