[Unit]
Description=VSCode server
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Type=simple
EnvironmentFile=/etc/code-server/code-server.conf
ExecStart=/bin/bash -c "HOME=/root; /usr/local/bin/code-server -H -p $PORT -d $HOME/.config/Code --disable-telemetry"
WorkingDirectory=/root/workspace
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
Restart=on-failure

[Install]
WantedBy=multi-user.target