[Unit]
Description=Run VS Code on a remote server.
Documentation=https://github.com/cdr/code-server
After=network.target network-online.target

[Service]
Type=simple
User={{ code_server_user }}
{% if code_server_password %}
EnvironmentFile={{ code_server_env_dir }}/env
{% endif %}
{% if code_server_major == '2' %}
ExecStart={{ bin_dir }}/code-server --auth password --cert $TLS_CERT --cert-key $TLS_KEY --host {{ code_server_host }} --port {{ code_server_port }} {{ code_server_work_dir | expanduser }} --disable-telemetry
{% else %}
ExecStart={{ bin_dir }}/code-server {% if tls_cert %}--cert {{ code_server_data_dir_abs }}/tls.cert{% endif %} {% if tls_key %}--cert-key {{ code_server_data_dir_abs }}/tls.key{% endif %} --host {{ code_server_host }} --port {{ code_server_port }} {{ code_server_work_dir | expanduser }} --disable-telemetry
{% endif %}
WorkingDirectory={{ code_server_work_dir }}

[Install]
WantedBy=multi-user.target